<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.Germandbls</key>
      <integer>-12</integer>
      <key>public.kern2.J</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-36</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-68</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-64</integer>
      <key>public.kern2.W</key>
      <integer>-28</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-108</integer>
      <key>public.kern2.lslash</key>
      <integer>-4</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.quotedblleft</key>
      <integer>-56</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-56</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-4</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-12</integer>
      <key>public.kern2.X</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-4</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.X</key>
      <integer>-32</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-4</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.idieresis</key>
      <integer>32</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.s</key>
      <integer>-8</integer>
      <key>public.kern2.t</key>
      <integer>-8</integer>
      <key>public.kern2.v</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-28</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.idieresis</key>
      <integer>32</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-48</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.underscore</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-32</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.X</key>
      <integer>-12</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>4</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-68</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-84</integer>
      <key>public.kern2.lslash</key>
      <integer>-12</integer>
      <key>public.kern2.quotedblleft</key>
      <integer>-88</integer>
      <key>public.kern2.t</key>
      <integer>-12</integer>
      <key>public.kern2.v</key>
      <integer>-32</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-12</integer>
      <key>public.kern2.X</key>
      <integer>-48</integer>
      <key>public.kern2.Y</key>
      <integer>-48</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-32</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.underscore</key>
      <integer>-80</integer>
      <key>public.kern2.x</key>
      <integer>-24</integer>
      <key>public.kern2.z</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-52</integer>
      <key>public.kern2.J</key>
      <integer>-8</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.X</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.idieresis</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-84</integer>
      <key>public.kern2.quotedblleft</key>
      <integer>16</integer>
      <key>public.kern2.underscore</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-28</integer>
      <key>public.kern2.a</key>
      <integer>-12</integer>
      <key>public.kern2.hyphen</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.V</key>
      <integer>-12</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
      <key>public.kern2.t</key>
      <integer>-4</integer>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.w</key>
      <integer>-4</integer>
      <key>public.kern2.x</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-64</integer>
      <key>public.kern2.J</key>
      <integer>-52</integer>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.T</key>
      <integer>16</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.a</key>
      <integer>-48</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.idieresis</key>
      <integer>28</integer>
      <key>public.kern2.o</key>
      <integer>-64</integer>
      <key>public.kern2.period</key>
      <integer>-92</integer>
      <key>public.kern2.s</key>
      <integer>-64</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-4</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.S</key>
      <integer>-8</integer>
      <key>public.kern2.T</key>
      <integer>-24</integer>
      <key>public.kern2.V</key>
      <integer>-24</integer>
      <key>public.kern2.W</key>
      <integer>-8</integer>
      <key>public.kern2.X</key>
      <integer>-52</integer>
      <key>public.kern2.Y</key>
      <integer>-48</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-32</integer>
      <key>public.kern2.underscore</key>
      <integer>-80</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-32</integer>
      <key>public.kern2.T</key>
      <integer>-4</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.X</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
      <key>public.kern2.idieresis</key>
      <integer>28</integer>
      <key>public.kern2.period</key>
      <integer>-32</integer>
      <key>public.kern2.underscore</key>
      <integer>-48</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-64</integer>
      <key>public.kern2.J</key>
      <integer>-48</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-44</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-48</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.underscore</key>
      <integer>-88</integer>
      <key>public.kern2.w</key>
      <integer>-12</integer>
      <key>public.kern2.z</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <integer>-24</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-52</integer>
      <key>public.kern2.S</key>
      <integer>-24</integer>
      <key>public.kern2.T</key>
      <integer>-8</integer>
      <key>public.kern2.U</key>
      <integer>-24</integer>
      <key>public.kern2.W</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-32</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.hyphen</key>
      <integer>-32</integer>
      <key>public.kern2.idieresis</key>
      <integer>12</integer>
      <key>public.kern2.o</key>
      <integer>-36</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-92</integer>
      <key>public.kern2.J</key>
      <integer>-92</integer>
      <key>public.kern2.O</key>
      <integer>-48</integer>
      <key>public.kern2.S</key>
      <integer>-32</integer>
      <key>public.kern2.X</key>
      <integer>-24</integer>
      <key>public.kern2.Z</key>
      <integer>-18</integer>
      <key>public.kern2.a</key>
      <integer>-72</integer>
      <key>public.kern2.hyphen</key>
      <integer>-48</integer>
      <key>public.kern2.idieresis</key>
      <integer>28</integer>
      <key>public.kern2.o</key>
      <integer>-72</integer>
      <key>public.kern2.period</key>
      <integer>-112</integer>
      <key>public.kern2.s</key>
      <integer>-64</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.u</key>
      <integer>-44</integer>
      <key>public.kern2.underscore</key>
      <integer>-104</integer>
      <key>public.kern2.v</key>
      <integer>-24</integer>
      <key>public.kern2.w</key>
      <integer>-24</integer>
      <key>public.kern2.x</key>
      <integer>-36</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-12</integer>
      <key>public.kern2.U</key>
      <integer>-4</integer>
      <key>public.kern2.W</key>
      <integer>-8</integer>
      <key>public.kern2.hyphen</key>
      <integer>-8</integer>
      <key>public.kern2.idieresis</key>
      <integer>28</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.s</key>
      <integer>-4</integer>
      <key>public.kern2.u</key>
      <integer>-4</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-4</integer>
      <key>public.kern2.v</key>
      <integer>-16</integer>
      <key>public.kern2.x</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.degree</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.seven</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-24</integer>
      <key>public.kern2.hyphen</key>
      <integer>-8</integer>
      <key>public.kern2.idieresis</key>
      <integer>32</integer>
      <key>public.kern2.l</key>
      <integer>-12</integer>
      <key>public.kern2.o</key>
      <integer>-24</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-4</integer>
      <key>public.kern2.u</key>
      <integer>-4</integer>
      <key>public.kern2.underscore</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-32</integer>
      <key>public.kern2.Y</key>
      <integer>-48</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.idieresis</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.idieresis</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.lslash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-4</integer>
      <key>public.kern2.idieresis</key>
      <integer>32</integer>
      <key>public.kern2.lslash</key>
      <integer>16</integer>
      <key>public.kern2.t</key>
      <integer>16</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.W</key>
      <integer>-12</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
      <key>public.kern2.degree</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-4</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-4</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-32</integer>
      <key>public.kern2.T</key>
      <integer>-92</integer>
      <key>public.kern2.U</key>
      <integer>-32</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-112</integer>
      <key>public.kern2.eight</key>
      <integer>-20</integer>
      <key>public.kern2.five</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <integer>-32</integer>
      <key>public.kern2.seven</key>
      <integer>-32</integer>
      <key>public.kern2.v</key>
      <integer>-52</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
      <key>public.kern2.zero</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.hyphen</key>
      <integer>-12</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.period</key>
      <integer>-44</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
      <key>ze-cy</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.eight</key>
      <integer>-16</integer>
      <key>public.kern2.four</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-72</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-4</integer>
      <key>public.kern2.v</key>
      <integer>12</integer>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.zero</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.underscore</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-48</integer>
      <key>public.kern2.V</key>
      <integer>-88</integer>
      <key>public.kern2.Y</key>
      <integer>-104</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.period</key>
      <integer>-52</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.period</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-28</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.eight</key>
      <integer>-12</integer>
      <key>public.kern2.period</key>
      <integer>-28</integer>
      <key>public.kern2.seven</key>
      <integer>-8</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-12</integer>
    </dict>
  </dict>
</plist>
