<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1..notdef</key>
    <array>
      <string>.notdef</string>
    </array>
    <key>public.kern1..null</key>
    <array>
      <string>.null</string>
    </array>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Germandbls</string>
      <string>germandbls</string>
      <string>Ze-cy</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Schwa</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>blackCircle</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.acute</key>
    <array>
      <string>acute</string>
    </array>
    <key>public.kern1.acutecomb</key>
    <array>
      <string>acutecomb</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern1.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
    </array>
    <key>public.kern1.brevecomb</key>
    <array>
      <string>breve</string>
    </array>
    <key>public.kern1.brokenbar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>cent</string>
    </array>
    <key>public.kern1.caroncomb</key>
    <array>
      <string>caroncomb</string>
      <string>caron</string>
    </array>
    <key>public.kern1.cedillacomb</key>
    <array>
      <string>cedillacomb</string>
      <string>cedilla</string>
    </array>
    <key>public.kern1.circumflex</key>
    <array>
      <string>circumflex</string>
    </array>
    <key>public.kern1.circumflexcomb</key>
    <array>
      <string>circumflexcomb</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
    </array>
    <key>public.kern1.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern1.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern1.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern1.dieresis</key>
    <array>
      <string>dieresis</string>
    </array>
    <key>public.kern1.dieresiscomb</key>
    <array>
      <string>dieresiscomb</string>
    </array>
    <key>public.kern1.dollar</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern1.downArrow</key>
    <array>
      <string>downArrow</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>three</string>
      <string>eight</string>
    </array>
    <key>public.kern1.equal</key>
    <array>
      <string>equal</string>
    </array>
    <key>public.kern1.euro</key>
    <array>
      <string>euro</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.grave</key>
    <array>
      <string>grave</string>
    </array>
    <key>public.kern1.gravecomb</key>
    <array>
      <string>gravecomb</string>
    </array>
    <key>public.kern1.greater</key>
    <array>
      <string>greater</string>
    </array>
    <key>public.kern1.hungarumlautcomb</key>
    <array>
      <string>hungarumlaut</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>f_i</string>
    </array>
    <key>public.kern1.idieresis</key>
    <array>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>imacron</string>
    </array>
    <key>public.kern1.idotless</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>idotless</string>
      <string>jdotless</string>
      <string>q</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>d</string>
      <string>i</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>iogonek</string>
      <string>j</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>f_l</string>
    </array>
    <key>public.kern1.lcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.leftArrow</key>
    <array>
      <string>leftArrow</string>
    </array>
    <key>public.kern1.less</key>
    <array>
      <string>less</string>
    </array>
    <key>public.kern1.lslash</key>
    <array>
      <string>Hbar</string>
      <string>dcroat</string>
      <string>lslash</string>
    </array>
    <key>public.kern1.macroncomb</key>
    <array>
      <string>macron</string>
    </array>
    <key>public.kern1.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern1.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.northEastArrow</key>
    <array>
      <string>northEastArrow</string>
    </array>
    <key>public.kern1.northWestArrow</key>
    <array>
      <string>northWestArrow</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>ae</string>
      <string>b</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>ze-cy</string>
    </array>
    <key>public.kern1.ogonekcomb</key>
    <array>
      <string>ogonek</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.rightArrow</key>
    <array>
      <string>rightArrow</string>
    </array>
    <key>public.kern1.ringcomb</key>
    <array>
      <string>ringcomb</string>
      <string>ring</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.southEastArrow</key>
    <array>
      <string>southEastArrow</string>
    </array>
    <key>public.kern1.southWestArrow</key>
    <array>
      <string>southWestArrow</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_t.liga</string>
      <string>t_t_t.liga</string>
    </array>
    <key>public.kern1.tildecomb</key>
    <array>
      <string>tilde</string>
    </array>
    <key>public.kern1.trademark</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.upArrow</key>
    <array>
      <string>upArrow</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>nine</string>
    </array>
    <key>public.kern2..notdef</key>
    <array>
      <string>.notdef</string>
    </array>
    <key>public.kern2..null</key>
    <array>
      <string>.null</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.Germandbls</key>
    <array>
      <string>Germandbls</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Schwa</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>blackCircle</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.acute</key>
    <array>
      <string>acute</string>
    </array>
    <key>public.kern2.acutecomb</key>
    <array>
      <string>acutecomb</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern2.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>bar</string>
    </array>
    <key>public.kern2.brevecomb</key>
    <array>
      <string>breve</string>
    </array>
    <key>public.kern2.brokenbar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.caroncomb</key>
    <array>
      <string>caroncomb</string>
      <string>caron</string>
    </array>
    <key>public.kern2.cedillacomb</key>
    <array>
      <string>cedillacomb</string>
      <string>cedilla</string>
    </array>
    <key>public.kern2.circumflex</key>
    <array>
      <string>circumflex</string>
    </array>
    <key>public.kern2.circumflexcomb</key>
    <array>
      <string>circumflexcomb</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
    </array>
    <key>public.kern2.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern2.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern2.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern2.dieresis</key>
    <array>
      <string>dieresis</string>
    </array>
    <key>public.kern2.dieresiscomb</key>
    <array>
      <string>dieresiscomb</string>
    </array>
    <key>public.kern2.dollar</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern2.downArrow</key>
    <array>
      <string>downArrow</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.equal</key>
    <array>
      <string>equal</string>
    </array>
    <key>public.kern2.euro</key>
    <array>
      <string>euro</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.grave</key>
    <array>
      <string>grave</string>
    </array>
    <key>public.kern2.gravecomb</key>
    <array>
      <string>gravecomb</string>
    </array>
    <key>public.kern2.greater</key>
    <array>
      <string>greater</string>
    </array>
    <key>public.kern2.hungarumlautcomb</key>
    <array>
      <string>hungarumlaut</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.idieresis</key>
    <array>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
    </array>
    <key>public.kern2.idotless</key>
    <array>
      <string>idotless</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>b</string>
      <string>h</string>
      <string>i</string>
      <string>iacute</string>
      <string>idotaccent</string>
      <string>iogonek</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>thorn</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.leftArrow</key>
    <array>
      <string>leftArrow</string>
    </array>
    <key>public.kern2.less</key>
    <array>
      <string>less</string>
    </array>
    <key>public.kern2.lslash</key>
    <array>
      <string>Eth</string>
      <string>Dcroat</string>
      <string>Hbar</string>
      <string>Lslash</string>
      <string>f</string>
      <string>hbar</string>
      <string>lslash</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>t_t.liga</string>
      <string>t_t_t.liga</string>
    </array>
    <key>public.kern2.macroncomb</key>
    <array>
      <string>macron</string>
    </array>
    <key>public.kern2.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern2.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.northEastArrow</key>
    <array>
      <string>northEastArrow</string>
    </array>
    <key>public.kern2.northWestArrow</key>
    <array>
      <string>northWestArrow</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>schwa</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>cent</string>
    </array>
    <key>public.kern2.ogonekcomb</key>
    <array>
      <string>ogonek</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.rightArrow</key>
    <array>
      <string>rightArrow</string>
    </array>
    <key>public.kern2.ringcomb</key>
    <array>
      <string>ringcomb</string>
      <string>ring</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>ze-cy</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.southEastArrow</key>
    <array>
      <string>southEastArrow</string>
    </array>
    <key>public.kern2.southWestArrow</key>
    <array>
      <string>southWestArrow</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>Ze-cy</string>
      <string>three</string>
    </array>
    <key>public.kern2.tildecomb</key>
    <array>
      <string>tilde</string>
    </array>
    <key>public.kern2.trademark</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern2.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern2.upArrow</key>
    <array>
      <string>upArrow</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>six</string>
    </array>
  </dict>
</plist>
